body{
    margin: 0;
}
/*propiedades personalizadas*/
:root{
    --primary-color:#112ed2;
    --Secundary-color:#3B38A0;
    --Third-color:#7A85C1;
    --white:#ffff;
    --black:#0000;
}
a, a:hover{
    text-decoration: none;
    color: white;
}


.pad-top-60px{
    padding-top: 60px;
}

.main-header{
    background-color: var(--primary-color);
    padding: 10px 20px;
    color: var(--white);
}
.logo{
    height: 60px;
    vertical-align: middle;
}
/*menu principal*/
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-menu-item{
    position: relative;
}
.nav-menu-link{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
}

.nav-menu-link:hover{
   background-color: var(--Secundary-color);

}
.submenu{
    display: none; /*ocultar el submenu*/
    position: absolute;
    top:100%;
    left:0px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color:var(--primary-color);
    width: 200px;
}
.has-submenu:hover .submenu{
    display: block;
}
.submenu a{
    display: block;
    padding: 10px 20px;
    color: var(--white);
    text-decoration: none;
}
.submenu a:hover{
    background-color:var(--Secundary-color);
}

/*media queries*/
@media(max-width:768px){
    
    .main-header{
        background-color: black;
        
    }
    .nav-menu{
        flex-direction: column;
        width: 100%;
    }
    .nav-menu-item{
        width: 100%;
        text-align: 100%;
    }
    .submenu{
        position: static;
        width: 100%;
    }
}

/*nosotros*/
.contenedor{
    display: grid;
    grid-template-columns: auto auto ;
    height: auto;
    align-items: center;
    color: black;
    font-size: 16px;
    line-height: 1.5em;
}
.contenedor-2{
    font-size: 36px;
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

.col-1{

    padding-left: 30px;
    padding-right: 30px;
    height: auto;
}
.img-fluit{
    width: 90%;
    

}
.contenedor-2{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    text-align: center;
    
    font-size: 30px;
    padding: 30px;

}
.col{
    border: 1px solid gray;
    border-radius: 10px;
    width: 33,33%;
    
}
.icons{
    width: 100px;
}

ul{
    list-style: none;
}

/*titulo de la seccion*/

h2{

    font-size: 48px;
    font-weight: 800;
    color: var(--primary-color);
}
p{
    font-size: 16px;
}

.center{
    text-align: center;
}

/*INICIO DEL FOOTER*/

footer{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    background-color: var(--primary-color);
    color: white;
}
footer h3{
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
}
.logo-footer{
    width: 150px;
    height: auto;
    padding-left: 30px;
    padding-top: 30px;
}
footer .col{
    color: aqua;
}
.col-2{
    color: rgb(255, 255, 255);
    line-height: 1.3em;
}
.social-icons-footer{
    display: inline-flex;
    font-size: 25px;
    color: white;
}
.social-icons-footer li{
    padding-left: 20px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: aqua;
}
.copyright{
    display: grid;
    grid-template-columns: auto auto;
    height: 60px;
    padding: 10px 30px;
    background-color: black;
    color: rgb(255, 255, 255);
}

/*pagina de contacto*/

.contactanos{
    background-color: #112ed2;
    color: white;
    padding: 80px;
}
.contactanos h1{
    font-size: 48px;
    color: aqua;
}
label{
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}
input[type="text"],[type="email"],[type="date"],[type="number"]{
    width: 100%;
    border: 1px solid gray;
    color: black;
    background-color: #ffffff;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px
}
textarea{
    width: 100%;
    border: 1px solid gray;
    color: black;
    background-color: #ffffff;
    font-size: 12px;
    border-radius: 5px;
}
select{
    width: 100%;
    border: 1px solid gray;
    color: black;
    background-color: #ffffff;
    font-size: 12px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
input[type="submit"]{
    width: 50%;
    background-color: aqua;
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: width 2s, heigth 4s, background-color 3s ;
    animation-timing-function: ease-in;
    
}
input[type="submit"]:hover{
    width: 100%;
    background-color: yellow;
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
}
/*.box{
    width: 50px;
    height: 50px;
    background-color: red;
    animation-name: box;
    animation-duration: 4s;
    position: relative;
}
@keyframes box {
    0%{
        background-color: aqua; left: 0px; top: 0px;
    }
    25%{
        background-attachment: yellow; left: 300px; top: 0px;
    }
    50%{
        background-attachment: var(--white); left: 300px; top: 300px;
    }
    75%{
        background-attachment: blue; left: 0px; top: 300px;
    }
    100%{
        background-color: aqua; left: 0px; top: 0px;
    }
    
}
.box2{
    width: 200px;
    height: 200px;
    background-color: red;
}*/
.car{
    color: aqua;
    position: relative;
    animation-duration: 8s;
    animation-name: car;
    /*animation-iteration-count: infinite;*/
}
@keyframes car {
   0%{
         left: 0px; top: 0px;
    }
    25%{
        left: 1000px; top: 0px;
    }
    100%{
        left: 1000px; top: 0px;
    }
    
}
.car2{
    color: rgb(246, 255, 0);
    position: relative;
    animation-duration: 10s;
    animation-name: car;
    /*animation-iteration-count: infinite;*/
}
@keyframes car {
   0%{
         left: 0px; top: 0px;
    }
    25%{
        left: 1000px; top: 0px;
    }
    100%{
        left: 1000px; top: 0px;
    }
    
}
.car3{
    color: crimson;
    position: relative;
    animation-duration: 20s;
    animation-name: car;
    /*animation-iteration-count: infinite;*/
}
@keyframes car {
   0%{
         left: 0px; top: 0px;
    }
    25%{
        left: 1000px; top: 0px;
    }
    100%{
        left: 1000px; top: 0px;
    }
    
}
.car4{
    color: blue;
    position: relative;
    animation-duration: 25s;
    animation-name: car;
    /*animation-iteration-count: infinite;*/
}
@keyframes car {
   0%{
         left: 0px; top: 0px;
    }
    25%{
        left: 1000px; top: 0px;
    }
    100%{
        left: 1000px; top: 0px;
    }
    
}