.holographic-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.col-lg-4{
    color: aliceblue;
}

ul{
    list-style: none;
}
.copyright{
    color: aliceblue;
}
.center2{
    text-align: center;
}
a{
    text-decoration: none;
}